trainfile: reduce-train-rna.hdf5
validfile: reduce-valid-rna.hdf5
seqlen: 4096
train_loopcount: 1000
valid_loopcount: 100
batchsize: 15
epochs: 30
scheduler: reducelronplateau
scheduler_threshold: 0.1
scheduler_patience: 1
dropout: 0.1
optimizer: ranger
lr: .002
activation: mish
sqex_activation: mish
weightdecay: 0.01